//- index.jade

//- Individual Setting
- var page_title = '';
- var page_permalink = '';
- var page_description = '';
- var page_cover = '';
doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1', name='viewport')
    meta(content='telephone=no', name='format-detection')
    title=page_title
    meta(content=page_cover, itemprop='image')
    meta(content=page_description, name='description')
    meta(content=page_permalink, property='og:url')
    meta(content=page_title, property='og:title')
    meta(content=page_description, property='og:description')
    meta(content=page_cover, property='og:image')
    meta(content='article', property='og:type')
    meta(content='ja_JP', property='og:locale')
    meta(content='dskd', property='og:site_name')
    link(href=page_permalink, rel='canonical' itemprop='url')
    link(href='/css/style.css', rel='stylesheet', media='only screen')
    script(type='text/javascript', src='/js/vendor.js')

  body
    include ./includes/_header.jade

    main
      div.contents

    include ./includes/_footer.jade

